.footer{
    z-index: 750;
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #cfcfcf;
    color: #3d3d3d;
    display: flex;
    border-top: 5px solid #0c395e;
    font-size: 1.2rem;
}

.footer_column{
    flex: 1;
    padding: 10px 20px;
    margin: 10px;
    font-family: 'Arial';
}

@media screen and (max-width:1024px) {
    .footer {
        flex-direction: column;
        margin: 0;
    }
}